<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneSignalPushNotificationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>Prankster.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD9E4D362D015550001B0F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD9E4D4C2D015553001B0F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD9E4D562D015553001B0F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD9E4D872D015608001B0F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
